:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* .light {
  background-color: #fafafa;
  color: #213547;
}
.dark {
  background-color: #213547;
  color: #fff;
} */

.login-container {
  max-width: 500px;
  margin: 0 auto;
  padding: 20px;
}

@media (max-width: 768px) {
  .login-container {
    max-width: 400px;
  }
}
